.App {
  display: flex;
  place-items: center;
  flex-direction: column;

  padding: 2rem;
}

.App-text,
.content-container {
  width: 60rem;
}

.App-text {
  height: fit-content;
  background-color: #eee;

  margin: 2rem 0;
  padding: 1rem;

  border-top: 3px solid #ff0000;
}

.App-text h2 {
  margin-bottom: 1rem;
}

.App-text p {
  font-size: 1.15rem;
  line-height: 1.5;
}

.App-text p::first-letter {
  font-size: 200%;
  color: #8a2be2;
  vertical-align: middle;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-container .form-child {
  margin: 2rem 0rem 2rem;
}

.form-child label {
  margin-right: 5rem;
  line-height: 2rem;
  font-weight: bold;
}

.form-child input {
  float: right;
  padding: 0.25rem;
  width: 5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.buttons-container button {
  padding: 0.5rem;
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
