.App {
  display: flex;
  place-items: center;
  flex-direction: column;

  padding: 2rem;
}

.App-text,
.content-container {
  width: 60rem;
}

.App-text {
  height: fit-content;
  background-color: #c7c7c7;

  margin: 2rem 0;
  padding: 1rem;

  border-top: 3px solid #ffdf00;
}

.App-text h2 {
  margin-bottom: 1rem;
}

.App-text p {
  font-size: 1.15rem;
  line-height: 1.5;
}

.App-text p a {
  color: #00529d;
  font-weight: regular;
  text-decoration: underline;
}

.App-text p::first-letter {
  font-size: 200%;
  color: #373b48;
  vertical-align: middle;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-container #triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 230px solid #ffdf00;
  border-right: 230px solid transparent;
}

.hip,
.sideA,
.sideB {
  font-size: 1.65rem;
}

.content-container #triangle-bottomleft .hip {
  position: relative;
  left: 110px;
  top: 80px;
}

.content-container #triangle-bottomleft .sideA {
  position: relative;
  left: -40px;
  top: 100px;
}

.content-container #triangle-bottomleft .sideB {
  position: relative;
  left: 70px;
  top: 240px;
}

.content-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-container .form-child {
  margin: 2rem 0rem 2rem;
}

.form-child label {
  margin-right: 5rem;
  line-height: 2rem;
  font-weight: bold;
}

.form-child input {
  float: right;
  padding: 0.25rem;
  width: 7.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.buttons-container button {
  padding: 0.5rem;
  background-color: #ffdf00;
  border: 1px solid #ffdf00;
  color: #373b48;
  font-weight: 700;
}

.result {
  padding-top: 2rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .App-text,
  .content-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column-reverse;
  }

  .form-container,
  #triangle-bottomleft {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 435px) {
  .form-container .form-child {
    display: flex;
    justify-content: space-around;
  }
}
