.App {
  display: flex;
  place-items: center;
  flex-direction: column;

  padding: 2rem;
}

.App-text {
  width: 60rem;
  height: fit-content;
  background-color: #eee;

  margin: 2rem 0;
  padding: 1rem;

  border-top: 3px solid #ff0000;
}

.App-text h2 {
  margin-bottom: 1rem;
}

.App-text p {
  font-size: 1.15rem;
  line-height: 1.5;
}

.App-text p::first-letter {
  font-size: 200%;
  color: #8a2be2;
  vertical-align: middle;
}

.content-container {
  display: flex;
  place-items: center;
}

.content-container .form-container {
  /* display: flex; */
  background-color: red;
}
